# Core Dependencies
torch
transformers>=4.35.0
streamlit
datasets
scipy
pandas
numpy

# IndicTrans2 Specific
indic-nlp-library
IndicTransToolkit

# Quality & Evaluation
evaluate

# For better NE extraction (optional)
spacy

# Utility
tqdm
python-dotenv

# For deployment on HF Spaces
pydantic
